.container {
  display: flex;
}
.column {
  flex: 1; /* Ajustez cette valeur pour contrôler la largeur des colonnes */
  padding: 10px;
  box-sizing: border-box;
}

.subject-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.btnAjout {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 10px 0px 0px;
}
