<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="btnAjout" *ngIf="userConnected.role == 3 && !isLoading">
  <a routerLink="/subjects/add">
    <button mat-flat-button color="accent"><mat-icon>add_circle</mat-icon>New subject</button>
  </a>
</div>

<mat-paginator
  [length]="totalDoc"
  [pageSize]="limit"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="onPageChange($event)"
  *ngIf="!isLoading"
>
</mat-paginator>

<div class="card-container" *ngIf="!isLoading">
  <div class="card" *ngFor="let subject of subjects; let index = index">
    <mat-card class="student-card">
      <img mat-card-image [src]="subject.photo" alt="Photo of a Shiba Inu">
      <br>
      <mat-card-content>
        <p style="text-align: center;">{{ subject.name }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="userConnected.role == 3">
        <button mat-stroked-button color="primary">
          <mat-icon>edit</mat-icon> Edit
        </button>
        <button mat-stroked-button color="warn" style="margin-left: 30px;">
          <mat-icon>delete_outline</mat-icon> Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

