.container {
  display: flex;
  align-items: center;
  /* min-height: 50vh; */
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}

.example-header-image {
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.button-row {
  display: flex;
  justify-content: space-around;

  button{
    margin: 10px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
