@if(assignmentTransmis) {
<h2></h2>

<mat-card class="container">
  <mat-card-header>
    <mat-card-title>{{ assignmentTransmis.title }}</mat-card-title>
    <mat-card-subtitle>{{
      assignmentTransmis.deadline | date:'dd/MM/yyyy'
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ assignmentTransmis.description }}</p>

    <div class="detail">
      <div mat-card-avatar>
          <img src="/assets/images/books.jpg" alt="Subject Image" class="example-header-image">
      </div>
      <p style="padding-left: 15%;">{{ assignmentTransmis.subject.name }}</p>
    </div>

    <div class="detail">
      <div mat-card-avatar>
          <img src="/assets/images/user2.jpg" alt="Subject Image" class="example-header-image">
      </div>
      <p style="padding-left: 15%;">{{ assignmentTransmis.subject.teacher.name }}</p>
      <p style="padding-left: 2%;">{{ assignmentTransmis.subject.teacher.firstname }}</p>
    </div>

    <div class="content">
      <p style="font-weight: bold;">Done: </p>
      @if(assignmentTransmis.isDone) {
        <p style="padding-left: 2%; color: green;"> Assignment done</p>
      } @else {
        <p style="padding-left: 2%; color: red;"> Assignment not done</p>
      }
    </div>

    <div class="content">
      <p style="font-weight: bold;">Mark: </p>
      @if(assignmentTransmis.isMark) {
        <p style="padding-left: 2%;">{{ assignmentTransmis.mark }}</p>
      } @else {
        <p style="padding-left: 2%; color: red;">Not rated yet</p>
      }
    </div>

    <div class="content">
      <p style="font-weight: bold;">Remark(s): </p>
      @if(assignmentTransmis.remark) {
        <p style="padding-left: 2%;">{{ assignmentTransmis.remark }}</p>
      } @else {
        <p style="padding-left: 2%;">There are no comments</p>
      }
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="button-row">
        <button *ngIf="isEdit" mat-stroked-button color="primary"> <mat-icon>edit</mat-icon> Edit</button>
        <button *ngIf="isRemove" mat-stroked-button color="warn" (click)="openDeleteDialog(assignmentTransmis)"> <mat-icon>delete_outline</mat-icon> Remove</button>
        <button *ngIf="isMark" mat-stroked-button color="accent"> <mat-icon>check</mat-icon> Mark</button>
    </div>
  </mat-card-actions>


  <!-- <mat-card-actions class="container">
    <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    <button mat-raised-button color="warn" (click)="onDelete()">
      DELETE
    </button>
    <nav>
      <a routerLink="edit">
        <button mat-raised-button color="primary">
          EDIT
        </button>
      </a>
    </nav>
  </mat-card-actions> -->

</mat-card>

}
