<!-- src/app/layouts/sidebar/sidebar.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
<!-- implement with privileges-->
      <mat-list>
        <div mat-subheader>COMMON</div>
        <mat-list-item>
          <a class="menuItem" href="#">Assignments</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>STUDENTS</div>
        <mat-list-item>
          <a class="menuItem" href="#">My grades</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>ADMIN & PROF</div>
        <mat-list-item>
          <a class="menuItem" href="#">Students</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>ADMIN & STUDENTS</div>
        <mat-list-item>
          <a class="menuItem" href="#">Syllabus</a>
        </mat-list-item>
        <div mat-subheader>ADMIN</div>
        <mat-list-item>
          <a class="menuItem" href="#">Teachers</a>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
