/* src/app/layouts/sidebar/sidebar.component.scss */
.sidenav-container {
  height: 100%;
}

mat-sidenav {
top:var(--mat-toolbar-standard-height);
  width: 250px;
}

.content {
  padding: 16px;
}

.menuItem {
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
}

.matListItem {
  transition: background-color 0.3s ease;
}

.matListItem:hover {
  .menuItem {
    color: #8c00ff; /* Change to your desired hover color */
  }
}

