<h1 class="section-title">New assignment</h1>
<form
  ngForm
  #assignmentForm
  (submit)="onSubmit($event); assignmentForm.reset()"
  class="form"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Title"
      required
      [(ngModel)]="title"
      name="title"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Description"
      [(ngModel)]="description"
      name="description"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Deadline</mat-label>
    <input
      matInput
      [min]="minDate"
      [matDatepicker]="picker"
      [(ngModel)]="deadline"
      name="deadline"
    />
    <mat-hint>dd/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    [disabled]="title == '' || deadline === undefined"
  >
    Add assignment
  </button>
</form>
