<div class="btnAjout" *ngIf="userConnected.role == 3">
  <a routerLink="/students/add">
    <button mat-flat-button color="accent"><mat-icon>add_circle</mat-icon>New student</button>
  </a>
</div>

<mat-paginator
  [length]="totalDoc"
  [pageSize]="limit"
  [pageSizeOptions]="[5, 10, 15]"
  (page)="onPageChange($event)"
>
</mat-paginator>

<div class="card-container">
  <div class="card" *ngFor="let student of students; let index = index">
    <mat-card class="student-card">
      <img mat-card-image [src]="student.photo" alt="Photo of a Shiba Inu">
      <br>
      <mat-card-content>
        <p style="text-align: center;">{{ student.name }} {{ student.firstname }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="userConnected.role == 3">
        <a [routerLink]="['/student/edit', student._id]">
          <button mat-stroked-button color="primary">
            <mat-icon>edit</mat-icon> Edit
          </button>
        </a>
        <button mat-stroked-button color="warn" style="margin-left: 30px;">
          <mat-icon>delete_outline</mat-icon> Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

