.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 25vh;
}

.card-title {
  text-align: center;
}

mat-card {
  width: 30%;
  height: 70%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 12vh;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

mat-card:first-child {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

/* .connection-button {
  background-color: firebrick;
} */



