.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 25vh;
}

.card-title {
  text-align: center;
}

mat-card {
  width: 50%;
  height: 90%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 30vh;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

mat-card:first-child {
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-position: center;
}

/* .connection-button {
  background-color: firebrick;
} */



